/* Resetting default browser styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
form {
  margin: 0;
  padding: 0;
}
:root {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
/* Poppins Regular */
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Poppins Bold */
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Poppins Italic */
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

/* Poppins Bold Italic */
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/* Poppins ExtraLight */
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

/* Poppins ExtraLight Italic */
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

/* Poppins Light */
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Poppins Light Italic */
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* Poppins Medium */
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Poppins Medium Italic */
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* Poppins SemiBold */
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Poppins SemiBold Italic */
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Poppins Bold */
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Poppins ExtraBold */
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* Poppins ExtraBold Italic */
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

/* Poppins Thin */
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* Poppins Thin Italic */
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

/* Apply font-family to body */
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  position: relative;
  background: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 1rem;
}
p {
  margin-bottom: 1rem;
}
a {
  color: #007bff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul,
ol {
  margin-bottom: 1rem;
  list-style: none;
}
h1 {
  font-size: 3rem;
  line-height: 1.2;
}
h2 {
  font-size: 2.5rem;
  line-height: 1.2;
}
h3 {
  font-size: 2rem;
  line-height: 1.2;
}
h4 {
  font-size: 1.5rem;
  line-height: 1.2;
}
h5 {
  font-size: 1.2rem;
  line-height: 1.2;
}
h6 {
  font-size: 1rem;
  line-height: 1.2;
}
p {
  margin-bottom: 1rem;
}
blockquote {
  font-style: italic;
  border-left: 4px solid #ccc;
  padding-left: 1rem;
}
code,
pre {
  font-family: "Courier New", monospace;
}
code {
  font-size: 0.85rem;
  padding: 4px 6px;
  background-color: #f1f1f1;
  border-radius: 4px;
}
pre {
  white-space: pre-wrap;
  background-color: #f1f1f1;
  padding: 1rem;
  border-radius: 4px;
}
/* EDIT MULAI DARI SINI */

.header {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: flex-start;
  align-content: flex-start;
  height: 100vh;
  min-height: 400px;
  max-height: 100vh;
  min-width: 300px;
  color: #eee;
}
.header:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0.8) 60%,
    rgba(0, 0, 0, 1) 100%
  );
}
.header:before {
  content: "";
  width: 120%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;

  transform: translateZ(0);
  background: #1b2030 url(/assets/DSC00854.JPG) 50% 0
    no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  animation: grow 120s linear 10ms infinite;
  transition: all 0.4s ease-in-out;
  z-index: -2;
}
.header a {
  color: #eee;
}

.menu {
  display: block;
  width: 40px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 3px;
  position: absolute;
  right: 20px;
  top: 20px;
  text-decoration: none;
}
.menu:after {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  background: #fff;
  position: absolute;
  margin: 0 auto;
  top: 5px;
  left: 0;
  right: 0;
  box-shadow: 0 8px, 0 16px;
}
.logo {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  align-content: center;
  margin: 20px;
  padding: 0px 10px;
  font-weight: 900;
  font-size: 1.1em;
  line-height: 1;
  box-sizing: border-box;
  transition: all 1s ease;
}
.logo:hover {
  -webkit-filter: invert(1);
  filter: invert(1);
}
.sides,
.info {
  flex: 0 0 auto;
  width: 50%;
}
.info {
  width: 40%;
  padding: 10% 5% 5% 5%;
  text-align: left;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.info h2 {
  font-size: 1em;
  font-weight: 500;
}
.info h1 {
  font-size: 4rem;
}
.author {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(/assets/images/author.jpeg) center no-repeat;
  background-size: cover;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 3px;
}
.info h4,
.meta {
  font-size: 0.7em;
}
.meta {
  font-style: italic;
}

@keyframes grow {
  0% {
    transform: scale(1) translateY(0px) translateX(-50px);
  }
  25% {
    transform: scale(1.1) translateY(-100px) translateX(0px);
  }
  50% {
    transform: scale(1.2) translateY(-300px) translateX(-100px);
  }
  75% {
    transform: scale(1.3) translateY(-100px) translateX(0px);
  }
}
.content {
  padding: 50px 30px;
  margin: 0 auto;
  max-width: 1024px;
  padding-bottom: 180px;
  text-align: center;
  color: white;
}
.content h2 {
  display: inline;
  background: black;
}
.content h2:before {
  content: " ";
  background: linear-gradient(to right, red 30%, white 30%);
  width: 100%;
  height: 8px;
  display: block;
  z-index: -1;
  transform: translateY(30px);
  position: relative;
}
.content p {
  line-height: 1.5;
  color: #333;
}

#cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 30px 0;
}
#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding-top: 30px;
}

.button {
  background: #222;
  display: flex; /* Ubah menjadi flex */
  align-items: center; /* Meratakan ikon dan teks secara vertikal */
  justify-content: center; /* Meratakan ikon dan teks secara horizontal */
  gap: 10px; /* Jarak antara ikon dan teks */
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  color: #fff; /* Tambahkan warna teks agar terlihat */
  cursor: pointer;
}

.button .icon {
  color: #007bff;
  width: 20px;
  height: 20px;
  margin: 0; /* Hapus margin agar ikon berada tepat di tengah */
}

.divider {
  position: relative;
  height: 5px;
  background: red;
}

.divider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 30%; /* Mulai dari setengah */
  width: 70%; /* Lebar setengah */
  height: 100%;
  background: white;
}

.card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: position 0.2s ease-in-out;
}
.card.aspect-ratio {
  position: relative;
}

.card.aspect-ratio::before {
  content: "";
  display: block;
  padding-top: 140%; /* Set the desired aspect ratio here */
}

.card.aspect-ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.card a {
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.9s ease-in-out;
}
.card .shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  border-radius: 10px;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}
.card:hover .shadow {
  opacity: 1;
}
.card h3 {
  position: absolute;
  bottom: -100;
  left: 0;
  right: 0;
  color: white;
  padding: 8px;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.9s ease-in-out, bottom 0.7s ease-out;
}
.card:hover h3 {
  bottom: 0;
  opacity: 1;
}
.card span {
  position: absolute;
  bottom: 60;
  left: -200;
  right: 0;
  color: white;
  padding: 8px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.9s ease-in-out, left 0.7s ease-out;
  font-weight: 600;
}
.card:hover span {
  left: 0;
  opacity: 1;
}
.card:hover img {
  transform: scale(1.2);
}
.card.fixed {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
}
.card.fixed h3 {
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  width: 90%;
}
.card.fixed span {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  width: 90%;
}
.card .location {
  opacity: 1;
  position: absolute;
  top: 10px !important;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  z-index: 2;
  height: 30px;
  right: 10px !important;
  width: fit-content;
  border-radius: 10px;
  left: auto !important;
  padding: 6px 15px;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 1rem;
  background-color: #111;
  text-align: center;
  font-size: 0.8rem;
  color: #ccc;
}
#petunjuk {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 10px 20px;
  background: white;
  display: none;
  animation: fadeInSlideUp 0.5s ease-out forwards;
  max-height: 90vh;
  overflow-y: auto;
  z-index: 9999;
}
#petunjuk.show {
  display: block;
}
.pheader {
  position: relative;
}
.pheader .close {
  position: absolute;
  right: 0;
  top: 0px;
  border: none;
  background: transparent;
}
#guides {
  width: 1024px;
  height: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  display: grid;
  padding: 30px 0px;
}
.guide {
  width: 100%;
  display: block;
  border-radius: 20px;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
}
.guide .icon {
  color: #007bff;
  width: 50px;
  height: 50px;
  margin: 10px auto;
  display: block;
}
.guide .desc {
  font-size: 0.8rem;
  text-align: justify;
}

@media (max-width: 768px) {
  #cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .info {
    width: 100%;
    padding: 10% 5% 5% 5%;
  }
  .info h2 {
    line-height: 1.5em;
    text-align: justify;
  }
  .header:before {
    background-size: cover;
  }
  .card .location {
    font-size: 0.6em;
    padding: 8px;
  }
  .content h2 {
    font-size: 1.7em;
  }
  .content h2:before {
    transform: translateY(20px);
    height: 5px;
  }
  #guides {
    width: 80vw;
    grid-template-columns: repeat(2, 1fr);
    max-height: 80vh;
    overflow-y: auto;
    padding: 10px;
  }
}

.hidden {
  display: none;
  opacity: 0;
}
