@font-face {
   font-family: "Coolvetica Rg";
   src: url("fonts/CoolveticaRg-Regular.eot") format("embedded-opentype"), url("fonts/CoolveticaRg-Regular.ttf") format("truetype"), url("fonts/CoolveticaRg-Regular.woff") format("woff"), url("fonts/CoolveticaRg-Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Coolvetica Rg";
   src: url("fonts/CoolveticaRg-Italic.eot") format("embedded-opentype"), url("fonts/CoolveticaRg-Italic.otf") format("opentype"), url("fonts/CoolveticaRg-Italic.woff") format("woff");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Cambria";
   src: url("fonts/Cambria Bold.eot") format("embedded-opentype"), url("fonts/Cambria Bold.ttf") format("truetype"), url("fonts/Cambria Bold.woff") format("woff"), url("fonts/Cambria Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Cambria";
   src: url("fonts/Cambria Italic.eot") format("embedded-opentype"), url("fonts/Cambria Italic.ttf") format("truetype"), url("fonts/Cambria Italic.woff") format("woff"), url("fonts/Cambria Italic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Cambria";
   src: url("fonts/Cambria Bold Italic.eot") format("embedded-opentype"), url("fonts/Cambria Bold Italic.ttf") format("truetype"), url("fonts/Cambria Bold Italic.woff") format("woff"), url("fonts/Cambria Bold Italic.svg") format("svg");
   font-weight: bold;
   font-style: italic;
}